* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

/* Common */
body {
    font-family: poppins, sans-serif;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 24px 41px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 14px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: background-color 0.3s ease;
}

:root {
    --primary-color: #1ebfc1;
}

/* =====================================HEADER SECTION===================================== */
.fix-header {
    margin-top: 57px;
    position: sticky;
    top: -57px;
    z-index: 1;
    background: #def6f5;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar .menu-list {
    display: flex;
    gap: 39px;
    margin-left: 235px;
}

.menu-list .menu-item a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
.menu-list .menu-item a:hover {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.nav-action {
    margin-left: auto;
}

.nav-action .login {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
}

.nav-action .login:hover {
    text-decoration: underline;
}

.nav-action .signup {
    margin-left: 24px;
    min-width: 108px;
    padding: 14px 19px;
    border-radius: 6px;
}

.nav-action .signup:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

/* =====================================HERO SECTION===================================== */
.hero-section {
    padding: 50px 0 79px 0;
    background: #bcf8e0;
}

.hero-wrapper {
    display: flex;
}

.hero-info {
    width: 40%;
}

.hero-info .intro {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero-info .title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.hero-info .desc {
    max-width: 374px;
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.hero-info .hero-cta {
    margin-top: 52px;
    display: flex;
}

.hero-info .hero-cta .start-btn:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.hero-info .hero-cta .play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    background: #fff;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
    transition: opacity 0.3s ease;
}

.hero-info .hero-cta .play-btn:hover {
    opacity: 0.5;
}

.hero-content {
    max-width: 641px;
}
.hero-content .hero-img {
    display: block;
    margin-left: auto;
    width: 50%;
    object-fit: cover;
}
