* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

/* Common */
body {
    font-family: poppins, sans-serif;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 24px 41px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 14px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: var(--transition);
}

:root {
    --primary-color: #1ebfc1;
    --transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* =====================================HEADER SECTION===================================== */
.fix-header {
    margin-top: 57px;
    position: sticky;
    top: -57px;
    z-index: 1;
    background: #def6f5;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar .menu-list {
    display: flex;
    gap: 39px;
    margin-left: 235px;
}

.menu-list .menu-item a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
.menu-list .menu-item a:hover {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.nav-action {
    margin-left: auto;
}

.nav-action .login {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
}

.nav-action .login:hover {
    text-decoration: underline;
}

.nav-action .signup {
    margin-left: 24px;
    min-width: 108px;
    padding: 14px 19px;
    border-radius: 6px;
}

.nav-action .signup:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

/* =====================================HERO SECTION===================================== */
.hero-section {
    padding: 50px 0 79px 0;
    background: #cbecfd;
}

.hero-wrapper {
    display: flex;
}

.hero-info {
    width: 40%;
}

.hero-info .intro {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero-info .title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.hero-info .desc {
    max-width: 360px;
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.hero-info .hero-cta {
    margin-top: 52px;
    display: flex;
}

.hero-info .hero-cta .start-btn:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.hero-info .hero-cta .play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    background: #fff;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
    transition: var(--transition);
}

.hero-info .hero-cta .play-btn:hover {
    opacity: 0.5;
}

.hero-content {
    max-width: 641px;
    margin-left: 71px;
    position: relative;
}

.hero-content .hero-img {
    display: block;
    margin-left: auto;
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero-content .course-card {
    position: absolute;
    display: flex;
    align-items: center;
    left: -40px;
    top: 149px;
    width: 157px;
    padding: 17px 25px;
    background: #ffffff;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero-content .course-card .course-02 {
    position: absolute;
    left: 29px;
    top: 45px;
}

.hero-content .course-card .title {
    margin-left: 16px;
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.hero-content .schedule-card {
    display: flex;
    flex-direction: column; /* Added to stack items vertically */
    position: absolute;
    align-items: center;
    left: -65px;
    top: 453px;
    width: 124px;
    height: 132px;
    padding: 16px 25px 23px 25px;
    background: #ffffff;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero-content .schedule-card .title {
    display: flex;
    justify-content: center;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.hero-content .schedule-card .schedule-02 {
    margin-top: 12px;
}
.hero-content .schedule-card .schedule-03 {
    margin-top: 10px;
}
.hero-content .schedule-card .schedule-04 {
    display: flex;
    margin-top: 16px;
}

.hero-content .member-card {
    position: absolute;
    right: 45px;
    top: 500px;
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    background: #ffffff;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.hero-content .member-card .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero-content .member-card .avatar-group {
    display: flex;
    margin-top: 8px;
}

.hero-content .member-card .avatar {
    display: flex;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
}

.hero-content .member-card .avatar:not(:first-child) {
    margin-left: -7px;
}

/* =====================================FEATURES===================================== */
.features-section {
    margin-top: 130px;
    background: #ebd8ea;
}

.text-group .intro {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.text-group .title {
    margin-top: 18px;
    max-width: 577px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}

.text-group .desc {
    margin-top: 18px;
    max-width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

.features-group {
    margin-top: 80px;
    display: flex;
}

.features-group .item {
    flex: 1;
}

.features-group .item-info {
    margin-top: 26px;
}

.features-group .item-info .subtitle {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features-group .item-info .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6875; /* 168.75% */
}

.features-group .item-info .desc:nth-child(1) {
    max-width: 168px;
}
.features-group .item-info .desc:nth-child(2),
.features-group .item-info .desc:nth-child(3) {
    max-width: 224px;
}

/* =====================================POPULAR===================================== */
.popular-section {
    margin-top: 130px;
    background: #cddbc8;
}

.popular-section .popular-cta {
    display: flex;
}

.popular-section .popular-cta .desc {
    max-width: 525px;
    line-height: 1.778; /* 177.778% */
}

.popular-section .popular-cta .view {
    margin-left: auto;
    align-items: center;
    display: flex;
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
}

.popular-courses {
    margin-top: 79px;
    display: flex;
    gap: 47px;
    height: 517px;
}

.popular-courses .course-item {
    position: relative;
    transition: transform 0.3s ease;
}

.popular-courses .course-item:hover {
    transform: translateY(-10px);
    opacity: 0.7;
}

.popular-courses .course-item .images {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
}

.course-item .info {
    position: absolute;
    left: 17px;
    top: 322px;
    width: 325px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
    padding: 18px 25px 29px 25px;
}

.course-item .info .tuition-fee {
    max-width: 889px;
    height: 33px;
}

.course-item .info .name {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.course-item .info .fee {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.course-item .info .fee strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.course-item .info .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.course-item .info .detail {
    margin-top: 18px;
    display: flex;
    gap: 10px;
}

.info .detail .class,
.info .detail .time {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.info .detail .class::before,
.info .detail .time::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    background-color: #1ebfc1;
    border-radius: 50%;
}

.popular-stats {
    margin-top: 265px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.popular-stats .number {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.popular-stats .label {
    margin-top: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

/* =====================================QUOTE===================================== */
.quote-section {
    margin-top: 264px;
    background: #ffe3e3;
}

.quote-wrapper {
    display: flex;
}

.quote-rate {
    width: 36%;
}

.quote-rate blockquote {
    margin-top: 27px;
    max-width: 419px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.quote-rate .writer {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.quote-rate .writer strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.quote-rate .controls {
    max-width: 130px;
    margin-top: 52px;
    display: flex;
    gap: 20px;
}

.quote-rate .controls .prev,
.quote-rate .controls .next {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    transition: var(--transition);
}

.quote-rate .controls .next:hover,
.quote-rate .controls .prev:hover {
    background-color: var(--primary-color);
}

.quote-rate .controls .next:hover svg path,
.quote-rate .controls .prev:hover svg path {
    stroke: #fff;
}

.avatar-group {
    width: 679px;
    height: 481px;
    position: relative;
}

.avatar-group .avatar-main img {
    width: 235px;
    height: 235px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 107px;
    left: 273px;
}

.avatar-group .avatar-2nd img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 19px;
    left: 569px;
}

.avatar-group .avatar-3rd img {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 144px;
}

.avatar-group .avatar-4th img,
.avatar-group .avatar-5th img,
.avatar-group .avatar-6th img {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
}

.avatar-group .avatar-4th img {
    top: 258px;
    left: 0;
}

.avatar-group .avatar-5th img {
    top: 403px;
    left: 212px;
}

.avatar-group .avatar-6th img {
    top: 374px;
    left: 569px;
}

/* =====================================ACTION==================================== */
.action-section {
    margin-top: 130px;
    background: #f4f5c6;
}

.action-wrapper {
    display: flex;
    align-items: center;
    padding: 76px 0 88px 0;
}

.action-wrapper .cta-content {
    width: 37%;
}

.action-wrapper .cta-content .ready {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}

.action-wrapper .cta-content .desc {
    margin-top: 18px;
    max-width: 400px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.778; /* 177.778% */
}

.action-wrapper .start-btn {
    margin-left: 410px;
    transition: var(--transition);
}

.action-wrapper .start-btn:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
}

/* =====================================FOOTER==================================== */
.footer-section {
    padding: 130px 0 50px 0;
    background: #b9b9b9;
    align-items: center;
}

.foot-wrapper {
    display: flex;
}

.foot-wrapper .list-item {
    flex: 1;
}

.foot-wrapper .list-item .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.7;
}

.foot-wrapper .list-item ul {
    margin-top: 25px;
}

.foot-wrapper .list-item .desc a {
    display: inline-block;
    text-decoration: none;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
}

.foot-wrapper .list-item li:not(:first-child) {
    margin-top: 18px;
}

.foot-wrapper .social-media .media-item {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 9px;
}

.foot-wrapper .social-media {
    text-decoration: none;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
}

.copy-right {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.copy-right p {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 400;
}
